extends layout

block content
  .container
    .row
      #map-canvas.col-xl-8.col-lg-8.col-md-8.col-sm-8
      // where to put the map
      #feed-canvas.col-xl-4.col-lg-4.col-md-4.col-sm-4
        // where to put the news feed
        .panel.panel-default
          .panel-heading
            h3.panel-title(id='panelHead') Newsfeed
        .panel-body(id='panel')
          | Select A Region