html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
  margin: 15px !important;
  width: 95% !important;
}

#map-canvas{
  height: 95vh;
}

#feed-canvas{
  
}